/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Splash screen */
#splash {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

/* Image */
#splash img {
  max-width: 80%;
  height: auto;
}

/* Hide main content initially */
#main-content {
  display: none;
  padding: 40px;
  text-align: center;
}
