* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: black;
  color: white;
}

/* SPLASH SCREEN */
#splash {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#splash h1 {
  font-size: 48px;
  margin-bottom: 60px;
  font-weight: 500;
}

/* PROFILE */
.profile {
  text-align: center;
  cursor: pointer;
}

/* RED FACE */
.avatar {
  width: 140px;
  height: 140px;
  background: #e50914;
  border-radius: 6px;
  position: relative;
  margin: auto;
}

/* EYES */
.eyes {
  position: absolute;
  top: 45px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 35px;
}

.eyes span {
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
}

/* SMILE */
.smile {
  position: absolute;
  bottom: 35px;
  left: 50%;
  width: 70px;
  height: 30px;
  border-bottom: 6px solid white;
  border-radius: 0 0 60px 60px;
  transform: translateX(-50%);
}

/* NAME */
.profile p {
  margin-top: 16px;
  font-size: 18px;
  color: #9e9e9e;
}

/* MAIN CONTENT */
#main {
  display: none;
  padding: 40px;
  text-align: center;
}
